<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
    <title>Page not Found</title>

    <style>
        /* .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.04);
            border-radius: .25rem;
        } */

        .card .card-header {
            background-color: #fff;
            border-bottom: none;
        }
    </style>
</head>

<body>

    {{#if userHome}}
    {{>header}}
    {{/if}}

    {{#if userAdmin}}
    {{>adminheader}}
    {{/if}}

    {{#if userUser}}
    {{>userheader}}
    {{/if}}

    <div class="container my-5">
        <div class="row justify-content-center my-5">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto" style="max-width: 20rem;">
                    <h3 class="card-header display-1 text-muted text-center">
                        404
                    </h3>

                    <span class="card-subtitle mb-2 text-muted text-center">
                        Page Could Not Be Found
                    </span>

                    <div class="card-body mx-auto">

                        {{#if userHome}}
                        <a type="button" style="background-color: #ff7f50;border: none;" href="/"
                            class="btn btn-sm btn-info text-white">
                            Back To Home </a>
                        {{/if}}

                        {{#if userAdmin}}
                        <a type="button" style="background-color: #ff7f50;border: none;" href="/admin"
                            class="btn btn-sm btn-info text-white">
                            Back To Home </a>
                        {{/if}}

                        {{#if userUser}}
                        <a type="button" style="background-color: #ff7f50;border: none;" href="/user"
                            class="btn btn-sm btn-info text-white">
                            Back To Home </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footlinks}}
</body>

</html>