<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
    <title>Order Success</title>
</head>

<body>
    {{>userheader}}
    <div class="container text-center my-5">
        <img src="https://img.icons8.com/cute-clipart/250/undefined/ok.png" />
        <h3 class="text-center">Your Order Placed Successfully!</h3>
        {{!-- <h3 class="text-center">Your Order Id is {{orderId}}</h3> --}}
        <a href="/user" style="background-color: #ff7f50;color: aliceblue;" class="btn my-2">Continue Reading</a>
    </div>
    {{>footlinks}}
</body>

</html>